/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
*  Copyright 2015 Adobe Systems Incorporated
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and are protected by all applicable intellectual property laws,
* including trade secret and or copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
**************************************************************************/
#acrobat-prompt{text-decoration:none;font-family:AdobeClean-Regular,Source Sans Pro,system-ui;font-size:14px;font-weight:700;border-radius:100px;border:2px solid #4b4b4b;color:#ebebeb;background:transparent;pointer-events:all;display:none}#acrobat-prompt:hover{background:#4b4b4b;cursor:pointer}#acrobat-icon{width:18px;height:18px;vertical-align:middle!important;display:none}#acrobat-prompt-tooltip{display:none;font-size:12px;font-family:Arial,SansSerif;font-weight:400;background-color:#000;border:1px solid #000;border-radius:4px;padding:4px 8px;position:absolute;top:48px}#acrobat-prompt-text{vertical-align:middle!important;display:none}@media screen and (min-width:1080px){#acrobat-icon{display:inline}#acrobat-icon:hover~#acrobat-prompt-tooltip{display:block}#acrobat-prompt{display:flex;justify-content:center;align-items:center;padding:8px}}@media screen and (min-width:1270px){#acrobat-prompt-text{display:inline}#acrobat-icon{margin:0 8px 0 0}#acrobat-prompt{padding:8px 16px}#acrobat-icon:hover~#acrobat-prompt-tooltip{display:none}}